apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: maven-build
  namespace: tekton-pipelines
spec:
  params:
    - name: IMAGE_TAG
      type: string
  workspaces:
    - name: source
  steps:
    - name: clone
      image: alpine/git
      workingDir: $(workspaces.source.path)
      script: |
        #!/bin/sh
        rm -rf ./* ./.* 2>/dev/null || true
        git clone https://github.com/janasajal/devops-project-gitops.git .
        echo "✅ Repo cloned successfully"

    - name: maven-build
      image: maven:3.9.5-eclipse-temurin-17
      workingDir: $(workspaces.source.path)/app
      script: |
        #!/bin/sh
        mvn clean package -DskipTests
        echo "✅ Maven build successful"
