replicaCount: 1

image:
  repository: janasajal/gitops-app
  tag: "v2.0.0"
  pullPolicy: Always

service:
  type: NodePort
  port: 8080
  nodePort: 30081

resources:
  requests:
    memory: "128Mi"
    cpu: "125m"
  limits:
    memory: "256Mi"
    cpu: "250m"

app:
  name: gitops-app
