replicaCount: 2

image:
  repository: janasajal/gitops-app
  tag: "v2.0.0"
  pullPolicy: Always

service:
  type: NodePort
  port: 8080
  nodePort: 30082

resources:
  requests:
    memory: "128Mi"
    cpu: "100m"
  limits:
    memory: "256Mi"
    cpu: "200m"

app:
  name: gitops-app
