replicaCount: 2

image:
  repository: janasajal/gitops-app
  tag: "latest"
  pullPolicy: Always

service:
  type: NodePort
  port: 8080
  nodePort: 30082

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "500m"

app:
  name: gitops-app
